/* =============
    global
============= */

@use "../helpers";

#communicate{
    padding: 107px 24px;
    text-align: center;

    p{
        color: var(--grey);
        margin-top: 16px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: helpers.rem-calc(28);

    }

    img{

        width: helpers.rem-calc(354);
        height: helpers.rem-calc(185.76);


    }
}
